PORT=5008
HOST=localhost

MONGODB_URI=chuoi_ket_noi_mongodb
JWT_SECRET=85b291e8c030714d6b1560de371e7a78fe255417aaeea3c74cf7f5570195d5e5  # Thay bằng một chuỗi bí mật thực sự
JWT_EXPIRES_IN=30d           # Thời gian hết hạn của JWT (ví dụ: 30 ngày)

EMAIL_HOST=smtp.gmail.com   # Ví dụ: smtp.gmail.com
EMAIL_PORT=587                # Cổng SMTP
EMAIL_USERNAME=quyok8080@gmail.com
EMAIL_PASSWORD=uaab ylsf uikl mnnd
EMAIL_FROM=quyok8080@gmail.com   # Địa chỉ email gửi

NODE_ENV=development